NEXT_PUBLIC_CONTRACT_ADDRESS=0xb6F11b8a3C558AC6482b23B83c1C5F8cF0F443c3
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BUILDER_CODE=bc_9cvdfpnw
NEXT_PUBLIC_BASE_APP_ID=6a61c75c078f6baf9ef3047f
NEXT_PUBLIC_DATA_SUFFIX=
BASE_RPC_URL=https://mainnet.base.org
PRIVATE_KEY=
